*{
    margin:0;  
    padding:0;
    box-sizing: border-box;
    font-family: Lato, "Helvetica Neue",;
}

h2 {
    font-size: 17px;
    font-style: italic;
    font-family: Verdana, Geneva;
}

.teste{
    color: red;
}

.paragrafo{
    font-size: 30px;
}