*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, "Helvetica Neue",;
}

@keyframes anim1{
    from{background-color: blue;}
    to{background-color: red;}    
}

.teste{
     width: 400px;
     height: 400px;
     background-color: blue;
     animation-name: anim1;
     animation-duration: 3s;
     animation-delay: 2s;
     animation-direction: alternate;
     animation-iteration-count: 2;
}
